# OpenEngine Distribution.
# This file describes the default OpenEngine distribution.

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# SoundPlayer project
git /projects/SoundPlayer https://github.com/OpenEngineDK/projects-SoundPlayer.git
git-dev /projects/SoundPlayer git@github.com:OpenEngineDK/projects-SoundPlayer.git

# standard set of extensions
git /extensions/SDL               https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/OpenGLRenderer    https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/GenericHandlers   https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git /extensions/OpenALSoundSystem https://github.com/OpenEngineDK/extensions-OpenALSoundSystem.git
git /extensions/MusicPlayer       https://github.com/OpenEngineDK/extensions-MusicPlayer.git
git /extensions/Shapes            https://github.com/OpenEngineDK/extensions-Shapes.git
git /extensions/VorbisResource    https://github.com/OpenEngineDK/extensions-VorbisResource.git

git-dev /extensions/SDL               git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/OpenGLRenderer    git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/GenericHandlers   git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/OpenALSoundSystem git@github.com:OpenEngineDK/extensions-OpenALSoundSystem.git
git-dev /extensions/MusicPlayer       git@github.com:OpenEngineDK/extensions-MusicPlayer.git
git-dev /extensions/Shapes            git@github.com:OpenEngineDK/extensions-Shapes.git
git-dev /extensions/VorbisResource    git@github.com:OpenEngineDK/extensions-VorbisResource.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip
win32 /libraries http://openengine.dk/data/libraries/openal-win32.zip
win32 /libraries http://openengine.dk/data/libraries/vorbis-win32.zip

# os x libraries

# linux libraries

# data
any /projects/SoundPlayer/data        http://www.openengine.dk/data/sound/Beastie_Boys_-_Now_Get_Busy.ogg
any /projects/SoundPlayer/data        http://www.openengine.dk/data/sound/batmanfo.ogg
